# Postal Codes From Toronto

Capstone excersise to extract a table from Wikipedia of the Toronto´s Postal Codes and clean the dataset.

## Import libraries

In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import csv

## Extract table from Wikipedia

In [2]:
csv_file = 'Tornoto_Postal_Codes.csv'

In [3]:
link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [4]:
# Request the data from de url
response = requests.get(link, timeout=5)
content = bs(response.content, "html.parser")
table = content.findAll('table')[0]

### Convert Wikipedia table to csv

In [5]:
header = []
rows = []

for tr in table.findAll('tr'):
    
    # Take the headers to a list
    for th in tr.findAll('th'):
        header.append(th.text.replace("\n", "").strip())
    
    # Take row data to a individual list
    row = []    
    for td in tr.findAll('td'):
        row.append(td.text.replace("\n", "").strip())
    
    # Merge all individual rows to a total rows list
    rows.append(row)

# Create csv file with the Wikipedia table
rows = [row for row in rows if not len(row) == 0]
with open(csv_file, 'w', newline='') as w:
    writer = csv.writer(w)
    writer.writerow(header)
    writer.writerows(rows)

## Create Dataframe with Pandas

In [6]:
df = pd.read_csv("Tornoto_Postal_Codes.csv")

In [7]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Cleaning data

In [8]:
# Drop the rows where "Borough" have "Not assigned" value
df = df[df['Borough'] != "Not assigned"]

In [9]:
df

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [10]:
# Print the shape of the dataframe
print("Total rows:", df.shape[0])

Total rows: 103